nav {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    color: white;
    /* position: fixed;
    top: 0; */
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 19px;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }