.header {
    justify-content: center;
    text-align: center;
    background-color:#1a1a1a;
    border-radius: 20px;
    border-width: 10px;
    border-color:rgb(167, 222, 201);
    border-style:ridge;
    margin-right: 100px;
    margin-left: 100px;
    
}

#bio {
    margin: 20px 200px;
}